body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: linear-gradient( 160deg, #6a13f7, #74ebf3, rgb(197, 247, 244));
}

.header {
    text-align: center;
    background-color: rgb(217, 247, 188);
    color: #460101;
}

h2 {
    font-family: cursive;
    font-size: 30px;
}

.container {
    margin-top: 90px;
    box-shadow: 0px 1px 3px 8px #255c2e;
    background-image: linear-gradient( 180deg, rgb(171, 247, 171), rgb(133, 133, 2));
    text-align: center;
    box-sizing: content-box;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(5, 17, 68);
}

div {
    margin: auto;
    text-align: center;
    width: 50vw;
}

.header {
    color: rgb(152, 62, 64);
}

button {
    border-radius: 8px;
    border-color: #255c2e;
    background-color: rgb(230, 236, 221);
    color: rgb(107, 1, 1);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(252, 250, 170);
}

button:active {
    background-color: rgb(120, 255, 79);
}

input {
    color: rgb(1, 10, 1);
    font-weight: bold;
    margin: auto;
    width: 38.5vw;
    height: 5vh;
    border: 3px solid rgb(0, 0, 0);
}

.container-menu {
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    background-color: rgb(241, 240, 187);
    color: rgba(5, 1, 1, 0.762);
    font-size: 18px;
}