body{
    background-color: rgb(144, 233, 144);
}
h1{
    text-align: center;
}
img{
    height: 200px;
    width: 300px;
    display: inline-block;   
    min-width: 100px;
    min-height: 100px;
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
}
.Album-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
h3{
    color: green;
    font-size: 25px;
}
.Beaches{
    flex-direction: column;
}
.Mountain{
    flex-direction: column-reverse;
}
.Sunset{
    flex-direction: row;
}
.Snowfall{
    flex-direction: row-reverse;
}